// .button.is-ghost {
//     background: transparent;
//     border-color: transparent !important;
//     color: #FFFFFF !important;
//     text-decoration: none;
//     &:hover,
//     &:focus,
//     &:focus-within,
//     &:focus-visible,
//     &:visited,
//     &:target,
//     &:active {
//         box-shadow: 0 0 0 0.125em #D5FF5C !important;
//         border-radius: 15px;
//     }
// }

a.navbar-item:focus-within{
    background-color: transparent !important;;
}

.navbar-menu {
    background-color: transparent !important;;
}
.navbar {
    background-color: transparent !important;;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    background-color: transparent !important;
}

.navbar-start {
    margin-left: auto !important;
}