body {
  // Menu CSS
  #app{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    width: 100%;
  }
  .min-h-full {
    min-height: 100vh;
  }
  .home {
    height: 100%;
    width: 100%;
  }
  .desktop-display-flex {
    @include desktop {
      display: flex;
    }
  }

  .text-word-wrap{
    word-wrap: break-word;
  }

  .button.is-ghost {
    background: none;
    border-color: transparent;
    color: #321B68 !important;
    text-decoration: none;
  }

  //font Control
  .font-size-100{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #FFFFFF;
    @include mobile {
      font-size: 40px;
    }
  }

  .font-size-40-light-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: #1E1E1E;
    @include mobile {
      font-size: 20px;
    }
  }

  .font-size-40-light{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    @include mobile {
      font-size: 20px;
    }
  }

  .font-size-24{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #321B68;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-22-light-info{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #1E1E1E;
    @include mobile {
      font-size: 12px;
    }
  }
  
  .font-size-16-light{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    @include mobile {
      font-size: 9px;
    }
  }
}
