body {
  // Menu CSS
  #app{
    height: 100%;
    min-height: 100vh;
    margin: 0;
    width: 100%;
  }
  .min-h-full {
    min-height: 100vh;
  }
  .home {
    height: 100%;
    width: 100%;
  }
  .desktop-display-flex {
    @include desktop {
      display: flex;
    }
  }


  //font Control
  .font-size-16-light{
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-22-light{
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-22-light-info{
    font-size: 22px;
    font-weight: 500;
    color: #1E1E1E;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-24{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-40-light{
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    @include mobile {
      font-size: 12px;
    }
  }

  .font-size-40-light-info{
    font-size: 40px;
    font-weight: 500;
    color: #1E1E1E;
    @include mobile {
      font-size: 12px;
    }
  }

}
